{% extends 'base.html' %}
{% block content %}
<body>
    <form method="post" class="buttons">
        <h2>Enter The Chat Room</h2>
        <div>
            <label>Name:</label>
            <input 
                type="text" 
                placeholder="Pick a name!" 
                name="name" 
                value="{{name}}"
                id="name"
            />
        </div>
        <div class="join">
            <input id="inputHome" type="text" placeholder="Room Code" name="code" value="{{code}}"/>
            <button class="buttonRight" type="submit" name="join">Join a Room</button>
        </div>
        <button type="submit" name="create" class="create-btn">Create a Room</button>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}
    </form>
</body>
{% endblock %}
